@charset "utf-8";
@import "_var", "_mixin";

#header{
    position: fixed; top: 0; right: 0; z-index: 10000; width: 100%;
    .logo{
    padding: 50px;
    a{display: block;
    img{width: 100px;height: 100px;}
    }
    }
    .btn_box{width: 80px;height: 80px; text-align: center; font-size: 18px; line-height: 80px; letter-spacing: 5px;
    border: 1px solid #ffffff;}
    .dep1{
        background: #000000; width: 750px;height: 100vh; font-family: PaintChocolate; font-size: 70px;
        position: absolute; top: 0;right: 0; 
        li{height: 280px; width: 100%; line-height: 300px;
            
        &::after{content: "";background: #F4EBDC;
        width: 10px;height: 100px;display: block;top: 150px;
        left: 60px;position: absolute;}
        &:nth-child(2)::after{top: 450px;}
        &:nth-child(3)::after{top: 750px;}
    }
        a{display: block; width: 100%; height: 100%;padding-left: 130px; color: $gray;}
        .nav1{
        height:350px; line-height: 400px;
        a:hover, a:focus{
            z-index: 1; color: #ffffff; @include transition(all 0.5s);
            background: url("../images/common/nav_hover_1.png") 60px 20px no-repeat;
        }
        }
        .nav2{
        a:hover, a:focus{
            z-index: 1; color: #ffffff;
            background-size: cover;
            background: url("../images/common/nav_hover_2.png") 60px 0px no-repeat;
        }
    }
        .nav3{
        a:hover, a:focus{
            z-index: 1; color: #ffffff;
            background-size: cover;
            background: url("../images/common/nav_hover_3.png") 60px 0px no-repeat;
        }
    }
    }
}
