@charset "utf-8";
@import "_var", "_mixin";

// intro
#intro{
    display: none;
    width: 100vw; height: 100vh; 
    font-family: FiraCode; font-size: 50px;
    #typing{
    display: inline-block; text-align: center;
    width: 100vw; height: 100%; margin: 0 auto;
    p{display: inline-block; line-height: 100vh;}
    span{color: $yellow;}
    }
    #caret {  
        display: inline-block; 
        animation-name: cursor; 
        animation-duration: 0.5s; 
        animation-iteration-count: infinite; 
        
    } 
    @keyframes cursor {
    from {border-bottom: 5px solid #fff} 
    50% {border-bottom: 5px solid #272727} 
    to {border-bottom: 5px solid #fff} 
    }
}

.section{
    width: 100vw;height: 100vh; overflow: hidden;

    .main_bg{
        @include bgsize(cover); width: 100%; height: 100%;
        background-image: url("../images/main/main_bg.png"); 
    }

    .bgm{text-align: center; padding-top: 75px; width: 100%; font-size: 20px;
    p{display: inline-block;}
    button{display: inline-block; cursor: pointer;}   
    .bgm_play{background: green;}
    .bgm_pause{background: red;}
    }

    .left_menu{
    position: absolute; top: 520px;left: -210px; transform: rotate(90deg);
    li{display: inline-block;
    +li{margin-left: 65px;}}
    }

    .right{
        writing-mode: vertical-rl; text-orientation: upright;
        p{display: inline-block;position: absolute;
        letter-spacing: 20px; @include text-stroke(1px $gray);
        &:nth-child(1){top: 170px; right: 100px;}
        &:nth-child(2){top: 565px; right: 50px;}
        }
    }
}