@charset "utf-8";
@import "_var", "_mixin";

// intro
#intro{
    width: 100vw; height: 100vh; 
    font-family: FiraCode; font-size: 50px;
    #typing{
    display: inline-block; text-align: center;
    width: 100vw; height: 100%; margin: 0 auto;
    p{display: inline-block; line-height: 100vh;}
    span{color: $yellow;}
    }
    #caret {  
        display: inline-block; 
        animation-name: cursor; 
        animation-duration: 0.5s; 
        animation-iteration-count: infinite; 
        
    } 
    @keyframes cursor {
    from {border-bottom: 5px solid #fff} 
    50% {border-bottom: 5px solid #272727} 
    to {border-bottom: 5px solid #fff} 
    }
}

.section{display: none;}