@charset "utf-8";
@import "_var", "_mixin";

#wrap{
    overflow: hidden;
}
#cnt1{
.contect_1{
    width: 100vw;height: 100vh;
    @include bgsize(cover); background-position: center;
    background-image: url("../images/contect/contect_bg.png");
    h1{
        position: relative; top: calc(50% - 15px); left: 80%; font-size: 30px;
        &::before{
            content: ""; display: inline-block; width: 0px; height: 3px; position: absolute; top: 49%; left: -30%; background: #ffffff;
            }
    }
    &:hover,&:focus{
        h1{
            &::before{
            width: 480px; @include transition(all 1.3s);
            }
        }
    }
}
.c1_txt{
    margin-left: 150px; margin-top: 500px; font-size: 20px;
    line-height: 3.2; 
}
.c1_en{
    position:absolute;
    transition: top .75s;
    top: 0;
    z-index: 1;
}
.c1_ko{
    display: none;
    position:absolute;
    transition: top .75s;
    top: 100%;
    z-index: 1;
}
}
#cnt2{
    width: 100vw;height: 100vh;  cursor: default;
    @include bgsize(cover); background-position: bottom left;
    background-image: url("../images/contect/contect_bg_2.png");
    h1{
        display: inline-block; font-size: 180px; padding-left: 300px; padding-top: 200px; line-height: 1.2;
    }
    .introduce{
        display: inline-block; padding-left: 150px; height: 648px;
        li{
            font-size: 25px; width: 800px; height: 180px; line-height: 180px; 
            strong{display: inline-block; font-weight: 400; width: 300px;text-align: center;}
            p{display: inline-block; padding-left: 20px;}
            +li{border-top: 1px solid $gray;}
        }
    }
}
// js 포커스 제어
#cnt3{
    width: 100vw;height: 100vh; position: relative;  cursor: default;
    @include bgsize(cover); background-position: top left;
    background-image: url("../images/contect/contect_bg_3.png") ;
    h2{padding-top: 150px; margin-left: 300px; font-size: 120px;}
    .skill_box{
        // display: flex;
        margin-left: 150px; margin-top: 100px;
        li{
            display: inline-block; text-align: center; height: 85px;
            line-height: 80px; position: relative;
            strong{display: inline-block; text-align: center;}
            p{display: inline-block; font-weight: 500; font-size: 80px; color: rgba(255, 255, 255, 0.2); position: absolute; top: 0; left: 0;}
            &:hover,&:focus{              
                strong{color: rgba(255, 255, 255, 0.2); @include transition(all 0.5s);}
                p{color: #ffffff;  @include transition(all 0.3s);}
            }
        }
        .skill_top{
            width: 400px;
            p{width: 400px;}
        }
        .skill_btm{
            width: 320px; margin-top: 80px;
            p{width: 320px;}
        }
    }
    .stream{
        width: 100vw; 
        h3{
            display: inline-block; font-size: 80px;
            position: absolute; bottom: 0px; left: 0;
            white-space: nowrap; height: 150px; line-height: 150px;
            animation: stream 20s linear infinite;
            @keyframes stream  {
                from {
                    transform:translateX(20%);
                }
                to {
                    transform:translateX(-100%);
                }
            }
        }
        &::after{content: "";background: #ffffff;
            width: 100vw; height: 5px; display: block; bottom: 150px;
            left: 0px;position: absolute;
        }
    }
}



